<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaThikana: Property</title>
</head>
<body>
    <h2>Listing Details: </h2>

    <ul>
        <img src="<%= listing.image.url%>" alt= "<%=listing.title%>" style="width: 500px;">
        <li> <b>Title: </b><%= listing.title %> </li>
        <li> <b>Description:</b> <%= listing.description%> </li>
        <li> <b>Price:</b> &#8377;<%= listing.price.toLocaleString("en-IN") %> </li>
        <li> <b>Location:</b> <%= listing.location%> </li>
        <li> <b>Country:</b> <%= listing.country%> </li>
    </ul> <br>
    <a href="/listings/<%= listing._id%>/edit">Edit this Listing</a><br><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete this Listing</button>
    </form>
</body>
</html>